<% content_for(:title, "Lines's stations") %>

<h1><%= @line.name %>'s Stations</h1>

<ul>
  <% @line.stops.each do |stop| %>
    <li><%= link_to stop.station.name, station_path(stop.station_id) %></li>
  <% end %>
</ul>

<p><%= link_to "Line Menu", lines_path, :class => 'btn btn-success'%></p>


