<% content_for(:title, "Stops | Magic School Bus") %>

<h1> Stops</h1>

<img src="http://3.bp.blogspot.com/-sNQam881Lc8/UXn-zEZvS5I/AAAAAAAAABM/PeawcW-L2qw/s1600/frizzle.jpg" alt="Ms. Frizzle">
<br></br>
<br></br>
<ul>
  <% @stops.sort_by_line.each do |stop| %>
    <li><%= stop.station.name %> -
    <%= stop.line.name %></li>
  <% end %>
</ul>


<p><%= link_to "Create a stop", new_stop_path, :class => "btn btn-info"%></p>

<p><%= link_to "Return to home page", root_path, :class => "btn btn-primary"%></p>
