<% content_for(:title, "Magic School Bus") %>

<h1><strong>Magic School Bus</strong></h1>

<img src="http://www.bellinghamlibrary.org/home/wp-content/uploads/2013/11/Magic-school-bus.jpg" alt="Magic School Bus">
<br></br>

<p><%= link_to "Stations", stations_path, :class => "btn btn-success" %></p>
<p><%= link_to "Lines", lines_path, :class => "btn btn-primary" %></p>

